<app-header></app-header>
<app-sider (pageChangeEvent)="OnChange($event)"></app-sider>
<div class="content">
  <div
    *ngIf="loading"
    class="spinner-border text-primary centered"
    style="width: 15rem; height: 15rem;"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div *ngIf="!loading" class="row">
    <div class="col mt-5">
      <div class="card">
        <div class="card-body">
          <h3>Complaints</h3>
          <p>
            You can manage complaints from residents here
          </p>
        </div>
        <div class="container">
          <div class="row justify-content-left">
            <div
              class="card bg-light m-2"
              style="width: 20rem;"
              *ngFor="let item of complaints"
            >
              <div class="card-body">
                <h5 class="card-title">
                  {{ item.complaint_type_name }} - {{ item.building_name }} {{ item.apartment_name }}
                  <a
                    data-toggle="modal"
                    data-target="#deleteModal"
                    (click)="updateStatus(item)"
                    class="float-right ml-1"
                  >
                    <img
                      src="assets/edit.svg"
                      style="width: 20px; height: auto; cursor: pointer;"
                      alt="delete"
                    />
                  </a>
                </h5>
                <h6 class="card-subtitle mb-2 text-primary">
                  {{ item.status }}
                </h6>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{item.unique_id}}
                </h6>
                <h6 class="card-subtitle mb-2 text-muted">
                  Booked on {{ dateConvert(item.date) }}
                </h6>
                <div class="card-text">
                  <p>
                    {{ item.description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade bd-delete-modal-sm"
    id="deleteModal"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-body text-center">
          Update complaint status!
          <button
            type="button"
            class="close"
            #closebutton
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer justify-content-around">
          <button
            type="button"
            class="btn btn-primary"
            (click)="updateStatusConfirm('In Progress')"
            data-dismiss="modal"
            [disabled]="btnLoading"
          >
          <span *ngIf="btnLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            In Progress
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="updateStatusConfirm('Closed')"
            data-dismiss="modal"
            [disabled]="btnLoading"
          >
          <span *ngIf="btnLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Closed
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>