<app-header></app-header>
<app-sider (pageChangeEvent)="OnChange($event)"></app-sider>
<div class="content">
  <div
    *ngIf="loading"
    class="spinner-border text-primary centered"
    style="width: 15rem; height: 15rem;"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div
  class="modal fade"
  id="addNewResidentModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNewResidentModalTitle">
          Add New Employee
        </h5>
        <button
          type="button"
          class="close"
          #closebutton
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #usForm="ngForm" (ngSubmit)="FormSubmit()">
          <div class="form-group">
            <label for="building_id">Building</label>
            <select
              class="form-control"
              id="building_id"
              required
              ngModel
              name="building_id"
            >
              <option value="" disabled selected hidden>Choose...</option>
              <option
                *ngFor="let item of buildings"
                value="{{ item.id }}"
                >{{ item.name }}</option
              >
            </select>
          </div>
          <div class="form-group">
            <label for="month">Month</label>
            <select
              class="form-control"
              id="month"
              required
              ngModel
              name="month"
            >
              <option value="" disabled selected hidden>Choose...</option>
              <option
                *ngFor="let item of months"
                value="{{ item.id }}"
                >{{ item.name }}</option
              >
            </select>
          </div>
          <div class="form-group">
            <label for="service_fees">Maintenance fee types</label>
            <select
              class="form-control"
              id="service_fees"
              required
              multiple
              ngModel
              name="service_fees"
            >
              <option
                *ngFor="let item of maintenanceFeeTypes"
                value="{{ item.id }}"
                >{{ item.fee_type }}</option
              >
            </select>
          </div>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary ml-2">
            Save changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
  <div *ngIf="!loading" class="row">
    <div class="col mt-5">
      <div class="card">
        <div class="card-body">
          <h3>Billing</h3>
          <p>You can view and bill maintenance fee to all residents here</p>
          <button
            type="button"
            class="btn btn-outline-primary btn-lg mb-4"
            data-toggle="modal"
            data-target="#addNewResidentModal"
          >
            Generate Bills
          </button>
          <button
          type="button"
          class="btn btn-outline-primary btn-lg mb-4 ml-4"
          (click)="navToMaintenance()"
        >
          Maintenance Fees
        </button>
          <div>
            <h5 class="text-muted">Filters</h5>
            <label for="building">Building </label>
            <select
              id="building"
              class="mx-2 form-control-sm"
              name="building"
              ngModel
              (ngModelChange)="buildingOnChange($event)"
            >
              <option value="" disabled selected hidden>Choose...</option>
              <option *ngFor="let item of buildings" value="{{ item.id }}">
                {{ item.name }}
              </option>
            </select>
            <label class="ml-sm-4" for="apartment">Apartment </label>
            <select
              id="apartment"
              class="mx-2 form-control-sm"
              name="apartment"
              ngModel
              (ngModelChange)="apartmentOnChange($event)"
            >
              <option value="" disabled selected hidden>Choose...</option>
              <option *ngFor="let item of apartments" value="{{ item.id }}">
                {{ item.name }}
              </option>
            </select>
            <button
              type="button"
              (click)="getBills()"
              class="btn btn-outline-primary mx-2 btn-sm"
            >
              Clear Filters
            </button>
          </div>
          <div class="table-responsive">
            <table class="table table-hover mt-3">
              <thead>
                <tr>
                  <th scope="col">Building</th>
                  <th scope="col">Apartment</th>
                  <th scope="col">Billed Amount</th>
                  <th scope="col">Billed for</th>
                  <th scope="col">Billing Date</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Payment Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of bills; let i = index">
                  <td>{{ item.building_name }}</td>
                  <td>{{ item.apartment_name }}</td>
                  <td>{{ item.bill_amount }}</td>
                  <td>
                    {{ monthConvert(item.billing_month) }}
                    {{ item.billing_year }}
                  </td>
                  <td>{{ dateConvert(item.billing_date) }}</td>
                  <td>{{ dateConvert(item.due_date) }}</td>
                  <td *ngIf="item.status">
                    {{ item.status }} on {{ dateConvert(item.payment_date) }}
                  </td>
                  <td *ngIf="!item.status">
                    Pending
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>